.about-body {
  background-color: transparent;
  backdrop-filter: blur(50px);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.about-header {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: inherit;
  border-radius: 15px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-card:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.sunit {
  background-image: url("../images/SP.jpeg");
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about-card-text {
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.about-description {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: transparent;
  backdrop-filter: blur(100px);
  border-radius: 15px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.about-subheader {
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}

.about-description p {
  font-size: 1.1rem;
  color: white;
  line-height: 1.6;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-card,
  .about-description {
    width: 100%;
    max-width: 500px;
  }
}
