
  #footer-heading {
    text-align: center;
    font-size: 3.5rem;
    font-family: "Ubuntu";
    color: white;
    font-weight: bolder;
  }
  .footer-button {
    text-align: center;
  }
  #footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: transparent;
    color: white;
    padding: 0;
    margin: 16px;
  }
  .f-icon {
    margin: 20px 10px;
  }

  p{
    margin: 0;
    padding: 1rem;
  }
  