*{
    font-family: 'Poppins', sans-serif;
}

.navbar_bg{
    background:#6528F7;
    /* background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%); */

}

.navbar-brand{
    font-size: 2rem;
    margin-right: 9rem;
}



#signup{
    background: #A076F9;
}
#signup:hover{
    background: #8f5cff;
}

